<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: chartreuse;">
   <h1 style="background-color: violet; text-align: center;">Login</h1>
   <form action="/login" method="POST">
    <div class="form-floating mb-3">
    <form action="/login" method="POST">
    <label for="uname">Username :</label>
    <input type="text" class="form-control" name="uname" id="uname" placeholder="username"><br><br>

</div>
  <div class="form-floating">
    <label for="pwd">Password :</label>
    <input type="pwd" class="form-control" name="pwd" id="pwd" placeholder="Password"><br><br>

  </div>
  <input style="background-color: aqua;" type="submit" value="Log in">
</form>


{% if err %}
<p><strong>ERROR:</strong>{{ err }}</p>
{% endif %}

</body>
</html>